<link rel="stylesheet" href="/stylesheets/error.css" />

<h1 class="top-message">Oh, oh...</h1>

<img class="error-pic" src="/images/error.png" alt="Sad Boy Png - Sad Boy Cartoon@seekpng.com">

{{#if error}}
<p>{{error}}</p>
{{/if}}
