<h1>Shazam 🚀</h1>
<p>ESTÁ PÁGINA HAY QUE QUITARLA PARA EL FINAL </p>


<h1>Link a las páginas dev</h1>

<ul>
    <h3>
        <li>
            <a href="/sign-up">sign-up</a>
        </li>
        <li>
            <a href="/login">login</a>
        </li>
        <li>
            <a href="/take-photo">tomate una foto</a>
        </li>
        <li>
            <a href="/audd">reconoce la canción</a>
        </li>
        
    </h3>
</ul>

