<link rel="stylesheet" href="/stylesheets/index.css" />


<video autoplay muted loop id="myVideo">
  <source src="/images/background-video.mp4" type="video/mp4">
</video>

<div class="container">
    <div class="row">
        <div class="col d-flex flex-column align-items-center">
            <div class="d-flex justify-content-center">
                <img src="images/logo.svg">
            </div>
            <div class="d-flex justify-content-center">
                <a class="link" href="/login">Inicia sesión</a>
            </div>
            <div class="d-flex justify-content-center">
                <a class="link" href="/sign-up">Regístrate</a>
            </div>
        </div>
    </div>
</div>
