.event-title{
    color: #6324BB;
    font-size: 24px;
    line-height: 36px;
    font-weight: 700;
}
.event-title-container{
    padding-top: 14px;
    padding-left: 16px;
    padding-bottom : 16px;
}
.api-info-concert{
    padding-left: 0;
    margin-bottom: 0;
}
h6{
    color: #BEBEBE;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
    margin-top: 6px;
}
.separation{
    margin-top: 15px;
}
.profile-pic{
    width: 100%;
   
}
.scroller{
    overflow-y: auto;
    overflow-x: hidden;
    height: 70vh;
}
.you-message{
    background-color: #6324BB;
    display: block;
    padding: 10px;
    border-radius: 8px 8px 2px 8px;
    color: #FCFAFA;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    margin-right: 20px;
    line-height: 17px;
}
p{
    margin-bottom: 0;
}
.picture img{
    border-radius: 100%;
    width: 50px;
    height: 50px;
}
.picture{
    display: flex;
    justify-content: center;
    align-content: center;
}
.other-message{
    padding: 8px;
    padding-left: 15px;
    background: #E5E1EE;
    border-radius: 8px 8px 8px 2px;
}
.wrapper{
    padding-left: 0;
}
.time{
    padding-top: 5px;
}
.message-send{
    border: none;
    width: 100%;
}
.sender .outline{
    border: 1px solid #BEBEBE;
    border-radius: 100px;
    padding: 8px;
    margin: 5px;
    margin-top: 10px;
}
.sender button{
    color: #BEBEBE;
}
.sender{
    padding: 10px, 50px;
}

.one-liner input{
    border: none;
    border-bottom: #BEBEBE solid 2px;
    width: 100%;
    margin: 10px 0;
}
.oner-liner p{
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
}
.padd-create{
    padding-top: 60px;

}

