body {
    padding-left: 10px;
    padding-right: 10px
}

a {
    text-decoration: none;
}

#logo {
    padding: 15px;
}

.white-button {
    background-color: white;
    border: none;
    color: #6324BB
}

.comment-icon {
    width: 20px;
    height: 20px;
    margin-top: 5px;
}

.comment-counter {
    margin-top: 3px;
    color: black
}

.comment-icon-yes{
    width: 20px;
    height: 20px;
    margin-top: 5px;
}

.comment-counter-yes {
    margin-top: 3px;
    color:#6324BB
}

.white-button:hover{
    background-color: white;
    border: none;
}

.post-name{
    font-weight: bold;
    color:#6324BB;
    margin-bottom: 0px
}

.posts-home {
    padding-left: 20px;
}

.search-box {
    display: flex;
    align-items: center;
    border-radius: 20px;
    background-color: #E5E1EE ;
    padding: 5px;
    margin-bottom: 10px;
  }
  
  #create-post {
    margin-bottom: 10px
  }

  .search-input {
    flex: 1;
    border: none;
    border-radius: 20px;
    padding: 5px 10px;
    background-color: transparent;
  }

  .search-input::placeholder {
    color: #6324BB;
  }
  
  .search-submit {
    margin-left: 50px;
    border: none;
    background-color: transparent;
    color: white;
    opacity: 50%;
  }

  .dropdown-toggle::after {
    display: none;
  }


  .dropdown-item{
    font-size: 10px;
    text-align: right;
    background-color: transparent;
  }

  .options-post-button {
    right: 30px;
    width: auto;
  }


  .comments-button {
    background-color: transparent;
    border: none;
  }

  .comments-button:hover {
    background-color: transparent;
    border: none
  }

  .dropdown-menu.show{
    text-align: right;
    border: none;
    background-color: transparent;
  }


  .delete-comment {
    border: none;
    background-color: transparent;
    font-size: 10px;
    color:#6324BB;
    width: 200px;
    text-align: left;
  }

  .comment-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    background-color: #E5E1EE;
    padding: 5px;
    margin-bottom: 10px;
  }
  
  .comment-input {
    flex: 1;
    border: none;
    border-radius: 20px;
    padding: 5px 10px;
    background-color: transparent;
    font-size: 10px;
    width: 280px;
  }
  
  .comment-input::placeholder {
    color: #6324BB;
  }
  
  .comment-submit {
    border: none;
    background-color: transparent;
    color: white;
    font-size: 10px;
    margin-left: 10px;
  }

  .post-photo {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }

  .post-body {
    padding-left: 20px

  }

  .plane-icon {
    width: 20px;
    filter: invert(22%) sepia(27%) saturate(6436%) hue-rotate(255deg) brightness(88%) contrast(107%);
  }

  .white-link {
    font-size: 10px;
    background-color: white;
    border: 1px solid #6324BB;
    border-radius: 30px;
    color: #6324BB;
    padding: 2px;
    padding:8px
}

.create-btn {
  background-color: #6324BB;
}

.cancel-btn {
  background-color: #6c757d
}

.close {
  background-color: transparent;
  border: none;
  color:#6324BB
}

.purple-link {
  font-size: 10px;
  background-color: #6324BB;
  border: 1px solid #6324BB;
  border-radius: 30px;
  color: white;
  padding: 2px;
  margin-top:20px;
  padding:8px
}

.color {
  filter: invert(22%) sepia(27%) saturate(6436%) hue-rotate(255deg) brightness(88%) contrast(107%);
}

.post-text {
  font-size: 14px;
  margin-bottom:4px
}

.card {
  border: 1px solid #BEBEBE;
  padding: 8px;
  margin: 0px 1px
}