body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

.invalid {
  color: red;
}

.valid {
  color: green;
}

/* Navbar container styles */
header {
  background-color: #5300e172;
  padding: 10px 20px;
}

/* Navigation links styles */
nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin-right: 10px;
}

nav li:last-child {
  margin-right: 0;
}

nav a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

nav a:hover {
  background-color: #ddd;
}

/* Active navigation link styles */
nav .active a {
  background-color: #333;
  color: #fff;
}
