body {
  font-family: 'Poppins', sans-serif;
}
.body-wrap{
  padding-bottom: 70px;
}
nav{
  background-color: #FCFAFA;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

.invalid {
  color: red;
}

.valid {
  color: green;
}

/* Navbar container styles */
header {
  background-color: #5300e172;
  padding: 10px 20px;
}

/* Navigation links styles */
nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin-right: 10px;
}

nav li:last-child {
  margin-right: 0;
}

nav a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

nav a:hover {
  background-color: #ddd;
}

/* Active navigation link styles */
nav .active a {
  background-color: #333;
  color: #fff;
}

.blue-background {
  background-color: rgb(223, 223, 251);
}

.card {
  border: 1px solid #333;
}

.new-notification {
  font-weight: bold;
}


.my-message {
  background-color: yellow;
}

.others-message {
  background-color: blueviolet;
}

.remove-button-styling {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }

