{{!-- <div class="row">
    <div class="col">
    </div>
    <div class="col">
        <h3>Nombre de la playlist: {{this.title}}</h3>
        <p>{{this.description}}</p>
    </div>
    <div class="col">
        <h3>Nombre de la playlist: {{this.title}}</h3>
        <p>{{this.description}}</p>
    </div>
</div> --}}