<h2>Post de {{this.author.username}}</h2>
<h2>{{this.title}}</h2>
<h3>{{this.content}}</h3>

{{#unless this.comments}}
<p>Este post no tiene comentarios</p>
{{/unless}}

{{#each this.comments}}
{{>commentPartial this}}
{{#if (ifEquals this.author._id ../../currentUser._id)}}
    <form action="comment/{{_id}}/delete" method="POST" id="delete-form">
      <button type="submit">🗑 comentario</button>
    </form>
  {{/if}}
{{/each}}