<h2>Post de {{this.author.username}}</h2>
<h2>{{this.title}}</h2>
<h3>{{this.content}}</h3>

{{#unless this.comments}}
<p>Este post no tiene comentarios</p>
{{/unless}}

{{#each this.comments}}
{{>commentPartial this}}
{{/each}}