<link rel="stylesheet" href="/stylesheets/new-element.css" />


<div class="container">
  <div class="row">
    <div class="col">
      <p class="head-text">Nuevo post</p>
    </div>
  </div>

  <form action="/post-create" method="POST">
    <div class="form-group row">
      <label>Mensaje:</label>    
      <div class="col-10">
        <textarea class="form-control" type="text" name="content"> </textarea>
      </div>
    </div>
    <br>

  <button class="link" type="submit"> Publica tu post!</button>
</form>

</div>
