<form>
  <input type="file" id="profile-pic" accept="image/*" capture>
  <video id="video"></video>
  <button id="capture-btn">Take Photo</button>
  <button id="repeat-btn">Repeat Photo</button>
  <button id="submit-photo">Usar foto</button>
  <button id="cancel-photo">Cancelar</button>

</form>


<script src="scripts/take-photo.js"></script>