<h1>works</h1>

<button id="start-btn">Start Recording</button>
<button id="stop-btn">Stop Recording</button>
<audio id="audio-player" controls></audio>
<script src="/scripts/record-audio.js"></script>
