<h1>Nueva playlist</h1>
<hr />

<form action="/new-playlist" method="POST">

  <div>
    <label for="name">Nombre de la playlist:</label>
    <input required type="text" name="title" />
  </div>

  <div>
    <label for="description">Descripción:</label>
    <input required type="text" name="description" />
  </div>

  <input hidden type="text" name="author" value="{{user._id}}" />

  {{#if id}}
  <input hidden type="text" name="songs" value="{{id}}"/>
  {{/if}}

  <br />

  <div><button type="submit">Crear playlist</button></div>

</form>