<link rel="stylesheet" href="/stylesheets/events.css" />


<div class="row justify-content-center">
        <div class="col-md-5">
            {{#if notifications}}
                {{>eventAcceptDecline
                notifications=notifications
                joinRequests=joinRequests}}
            {{/if}}
            {{>chatData users=users event=event}}
        </div>
        <div class="col-md-7 ">
            <hr class="d-md-none">
            {{>eventChat event=event authorId=session}}
        </div>
</div>

    


