<link rel="stylesheet" href="/stylesheets/events.css" />

{{#if notifications}}
  {{>eventAcceptDecline 
     notifications=notifications
     joinRequests=joinRequests}}

{{/if}}
<div class="row justify-content-center">
        <div class="col-md-5">
            {{>chatData}}
        </div>
        <div class="col-md-7 ">
            <hr class="d-md-none">
            {{>eventChat event=event authorId=session}}
        </div>
</div>

    


